<t name="Homepage" t-name="website.homepage">
    <t t-call="website.layout">
        <t t-set="pageName" t-value="'homepage'"/>
        <div id="wrap" class="oe_structure oe_empty"><section class="s_cover parallax pt96 pb96 s_parallax_no_overflow_hidden o_full_screen_height o_colored_level o_we_force_no_transition" data-scroll-background-ratio="1" data-oe-shape-data="{&quot;shape&quot;:&quot;web_editor/Origins/18&quot;,&quot;colors&quot;:{&quot;c1&quot;:&quot;rgba(0, 0, 0, 0.15)&quot;},&quot;flip&quot;:[&quot;x&quot;]}" data-snippet="s_cover" data-name="Couverture" style="">
        <span class="s_parallax_bg oe_img_bg o_bg_img_center o_we_force_no_transition" style="background-image: url(&quot;/web/image/406-93eb4a6a/1668294069092.jpg&quot;); background-position: 50% 80%;" data-original-id="395" data-original-src="/web/image/395-36f82150/1668294069092.jpg" data-mimetype="image/jpeg" data-resize-width="1884"/><div class="o_we_shape o_web_editor_Origins_18 o_we_force_no_transition" style="background-image: url(&quot;/web_editor/shape/web_editor%2FOrigins%2F18.svg?c1=rgba(0%2C%200%2C%200%2C%200.15)&amp;flip=x&quot;); background-position: 50% 50%;"/>
        
        
        <div class="s_allow_columns container">
            <h1 style="text-align: center;">- BAPTISTE&amp;nbsp;DELBECQ -</h1><p style="text-align: center;"><span style="font-size: 18px;">A S T R O P H O T O G R A P H I E&amp;nbsp; &amp;amp;&amp;nbsp; P H O T O G R A P H I E</span></p>
        </div>
    </section></div>
    </t>
</t>
